/*
    Background color
*/

body 
{
  background-image: url("https://i.pinimg.com/236x/9d/c5/8f/9dc58f3c79c0b1ee0315d95129f9d6a2.jpg");
  background-color:  #89cff0
}

/*
  Centers all header 1 tags 
*/
h1 
{
  display: flex;
  justify-content: center;
}

/*
  Centers all header 2 tags
*/
h2
{
  display: flex;
  justify-content: center;
}
