/*
    Background color
*/

body 
{
  background-image: url("moon_aesthetic.jpg");
  background-color:  #89cff0
}

/*
  Centers all header 1 tags 
*/
h1 
{
  display: flex;
  justify-content: center;
}

/*
  Centers all header 2 tags
*/
h2
{
  display: flex;
  justify-content: center;
}
