/*
    Background color
*/

html 
{

  background: url("moon_aesthetic.jpg") no-repeat center fixed;
  background-size: cover;
  background-color:  #89cff0;

}

/*
  Centers all header 1 tags | change color
*/
h1 
{
  display: flex;
  justify-content: center;
  color:indigo;
}

/*
  Centers all header 2 tags | change color
*/
h2
{
  display: flex;
  justify-content: center;
  color:indigo;
}

/*
 class to center images
*/

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}