h1, title, h2 {
    text-align: center;
    color: red;
    
  }

  body {
    background-image: url("https://www.expertafrica.com/images/static-content/b8a25f3954f94ef0af0bcdceea9edcb1.jpg");
  }

  