h1, title, h3 {
    text-align: center;
    color: rgb(97, 34, 78);
    font-family: Papyrus, Copperplate, fantasy;
  }

  body {
    background-image: url("https://www.expertafrica.com/images/static-content/b8a25f3954f94ef0af0bcdceea9edcb1.jpg");
  }

  
  
